
<form [formGroup]="codesubtypeMasterForm"  (ngSubmit)="codesubtypeMaster(codesubtypeMasterForm.value)" > 
    <table style="width: 100%;background-color: white;" class="center">
        <tr>
            <td class="PageHeader">
                CODE&nbsp;SUB&nbsp;TYPE&nbsp;MASTER
            </td>
            <td colspan="2" align="right" style="background-color: #FFE4B5;text-align: right;width: 100%;">
                &nbsp;Code&nbsp;Sub&nbsp;Id&nbsp;
            </td>  
     
            <td style="background-color: #FFE4B5;">
                <input class="form-control" formControlName="codesubId" value={{codesubId}} [(ngModel)]='codesubId' >
                 
            </td>
            
            <td style="background-color: #FFE4B5;" >
                <button type="button" class="btn-primary" (click)="codesubIdFind(codesubId)" ><i class="fa fa-search"
                       aria-hidden="true"></i></button> 
            </td>
        </tr>
    </table>


            <fieldset class="RFS">
            <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">CODE SUB TYPE DETAILS</legend>
            <table class="center">
            <tr>
                <td style="width: 15%" class="LabelFontStyle1"> Code&nbsp;Sub&nbsp;Name: </td>
                <td> <input type='text' uppercase formControlName="codesubName"  class="form-control"  placeholder="Enter Code Sub Name" ></td>  <!-- (keyup)="onKey($event )"-->
                <td style="width: 15%" class="LabelFontStyle1"> Code&nbsp;Sub&nbsp;Type: </td>
                <td>
                    <select  type='number' formControlName="codesubType" id="codesubType" class="form-control" style="background-color: yellow;" >
                        <!-- <option></option> -->
                        <option *ngFor="let sc of  AllcodesubtypeList" [ngValue]="sc.cmntypeId"  >
                           {{sc.codeDesc}}
                        </option>
                    </select>
                </td>
                <td style="width: 15%" class="LabelFontStyle"> &nbsp;Remark&nbsp;: </td>
                <td> <input type='text' uppercase formControlName="remarks"  class="form-control" placeholder="" ></td>  <!-- (keyup)="onKey($event )"-->
               
            </tr>
    
            <tr>
    
                <td style="width: 15%" class="LabelFontStyle1"> Start&nbsp;&nbsp;Date:</td>
                <td> <input type='date'  formControlName="startDate"  class="form-control"    ></td> 
                <td style="width: 15%" class="LabelFontStyle1"> Status&nbsp;&nbsp;: </td>
                <td> <input type='text' readonly uppercase formControlName="status"  class="form-control"    ></td> 
            </tr>
            
        </table>    
        </fieldset>
    
    
        <fieldset class="RFS">
        <table class="center">
           
            <tr>
                <div *ngIf="displayButton; then thenBlock1; else elseBlock1"></div>
                <ng-template #thenBlock1>
                <td> <button type="submit" class="btn btn-info" id="register" (click)="newMast()">Save</button></td>
                <td [style.display]="isVisibleadminSearch ? 'block' : 'none' "> <button  type="submit" class="btn btn-info" id="register" (click)="searchMast()">Search</button></td>
            <td [style.display]="isVisiblesuperSearch ? 'block' : 'none' "> <button  type="submit" class="btn btn-info" id="register" (click)="SupersearchMast()">Search</button></td>
                <td> <button type="submit" class="btn btn-info" id="register" (click)="resetMast()">Reset</button></td>
                <td> <button type="submit" class="btn btn-info" id="register" (click)="closeMast()">Close</button></td>
              </ng-template>
                <ng-template #elseBlock1>
                    <td> <button type="submit" class="btn btn-info" id="register" (click)="updateMast()">Update</button></td>
                    <td [style.display]="isVisibleadminSearch ? 'block' : 'none' "> <button  type="submit" class="btn btn-info" id="register" (click)="searchMast()">Search</button></td>
            <td [style.display]="isVisiblesuperSearch ? 'block' : 'none' "> <button  type="submit" class="btn btn-info" id="register" (click)="SupersearchMast()">Search</button></td>
                    <td> <button type="submit" class="btn btn-info" id="register" (click)="resetMast()">Reset</button></td>
                    <td> <button type="submit" class="btn btn-info" id="register" (click)="closeMast()">Close</button></td>
                </ng-template>
                
            </tr>
       
        </table>
        </fieldset>
    
    <fieldset class="RFS">
      
        <br>
        <table  class="GridFont" cellspacing="0" cellpadding="4"   style="border-color:#959595;border-collapse:collapse;width: 100%; ">
            <thead>
                <tr class="GridHeader">
                    <!-- <th scope="col" style="border: 1px solid black;">Code Sub Id</th> -->
                    <th scope="col" style="border: 1px solid black;">Code Sub Name</th>
                    <th scope="col" style="border: 1px solid black;">Code Sub Type</th>
                    <th scope="col" style="border: 1px solid black;">status</th>
                    <th scope="col" style="border: 1px solid black;">Select</th>
                </tr>
            </thead>
                <tbody>
                    <tr  *ngFor="let com of allcodesubtypeList" class="ItemStyle" style="text-decoration:none;"><!-- *ngFor="let com of allCompList" class="ItemStyle" style="text-decoration:none;"-->
                        <!-- <td style="border: 1px solid black;padding-left: 15px;">{{com.codesubId}}</td> -->
                        <td style="border: 1px solid black;padding-left: 15px;">{{com.codesubName}}</td>
                        <td style="border: 1px solid black;padding-left: 15px;">{{com.codesubType}}</td>
                        <td style="border: 1px solid black;padding-left: 15px;">{{com.status}}</td>
                        <td style="border: 1px solid black;padding-left: 15px;"> <button type="button" style="width: fit-content;"  class="btn btn-primary" data-dismiss="modal" (click)="codesubIdFind(com.codesubId)">Select</button></td>
                    </tr>
                </tbody>
            
        </table>
    </fieldset>
    
    </form>

