<form [formGroup]="adminRequitionListForm"  (ngSubmit)="adminRequitionList(adminRequitionListForm.value)">
    <table style="width: 100%;background-color: white;" class="center">
        <tr>
            <td class="PageHeader">
               Admin&nbsp;Requition&nbsp;List&nbsp;
            </td>
        </tr>
    </table>
    <fieldset class="RFS" style="background-color: white;">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;font-weight: bold;color: black;">Requition List</legend>
        <table class="GridFont" cellspacing="0" cellpadding="4"
                                    style="border-color:#959595;border-collapse:collapse;width: 100%; ">
                                    <tr class="GridHeader">
                                        <th scope="col" style="border: 1px solid black;">Req ID</th>
                                        <th scope="col" style="border: 1px solid black;">User Name</th>
                                        <th scope="col" style="border: 1px solid black;">Department Name</th>
                                        <th scope="col" style="border: 1px solid black;">Loction Name</th>
                                        <th scope="col" style="border: 1px solid black;">Requision Date</th>
                                        <!-- <th scope="col" style="border: 1px solid black;">View Requisition</th> -->
                                    </tr>
                                    <tr *ngFor="let com of viewAllReqisision" class="ItemStyle"
                                        style="text-decoration:none;font-size: 12px;text-align: center;">
                                        <!-- <td style="border: 1px solid black;color: black;"> {{com.reqhdNo}}</td> -->
                                        <td style="border: 1px solid black;color: black;">
                                            <a [routerLink]="['/admin/adminTransaction/AdminRequForm',com.reqhdNo]"
                                                href="{{reqhdNo}}">{{com.reqhdNo}}</a>
                                        </td>
                                        <td style="border: 1px solid black;color: black;"> {{com.reqUsername}}</td>
                                        <td style="border: 1px solid black;color: black;"> {{com.dept}}</td>
                                        <td style="border: 1px solid black;color: black;"> {{com.location}}</td>
                                        <td style="border: 1px solid black;color: black;"> {{com.reqDate | date:'dd-MM-yyyy hh:mm:ss'}}</td>
                                        <!-- <td style="border: 1px solid black;"> <button type="button"
                                          style="width: 170px;" class="btn btn-primary" data-dismiss="modal"  (click)="ReqHedIdFindFN(com.reqhdNo)">View&nbsp;</button>
                                        </td> -->
                                    </tr>
                                </table>
    </fieldset>

    <fieldset class="RFS" >
        <table class="center">
            <tr>
               
                <td>
                    <button type="submit" class="btn btn-primary" id="resetBtn" data-toggle="modal" 
                    data-target="#confirmAlert" style="width: fit-content;" (click)="getMessage('Reset')">Reset</button>
                 </td>
                <td>
                    <button type="submit" class="btn btn-primary" id="closeBtn"
                    data-toggle="modal" data-target="#confirmAlert" style="width: fit-content;" (click)="getMessage('Close')">Close</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>





<div class="modal fade" id="confirmAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 30%;margin-left: 35%;">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label
            style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
            {{message}}
        </label>
        </div>
        <div class="modal-footer">
            <table class="center">
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="register"
                            (click)="executeAction()" style="width: 80px;">Yes</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 80px;">No</button>
                    </td>
                </tr>
            </table>
          
        </div>
      </div>
    </div>
  </div>