<form [formGroup]="Assetiussesform" (ngSubmit)="Assetiussesfor(Assetiussesform.value)">
  <table style="width: 100%;background-color: white;" class="center">
      <tr>
          <td class="PageHeader">
              &nbsp;ASSET&nbsp;ISSUE&nbsp;FORM
          </td>
  </table>
  <fieldset>
    <table class="center">
        <tr>
            <div *ngIf="closeResetButton; then hList1; else hList2"></div>
            <ng-template #hList2>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only" id="loading"></span>

                    </div>
                </div>
            </ng-template>
            <ng-template #hList1> </ng-template>

            <td class="LabelFontStyle" style="color: blue;width: fit-content;" colspan="4">
                &nbsp;{{dataDisplay}}&nbsp;
            </td>
        </tr>
    </table>
</fieldset>
  <fieldset class="RFS">
      <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;"> FIND ASSET
      </legend>
      <table class="center" style="width: 30%;">
          <tr>
              <td style="width:10%" class="LabelFontStyle1">Find&nbsp;With&nbsp;Item&nbsp;Code: </td>
              <td style="background-color: #ffffff;">
                  <input class="form-control" formControlName="itemCode" value={{itemCode}} [(ngModel)]='itemCode'> 
                 
              </td>
              <td><button type="button" class="btn-primary"><i class="fa fa-search" aria-hidden="true" placeholder="search" (click)="transitemcodeFindFN(itemCode)"></i></button>
              </td>
              <td></td>
              <td></td>
          </tr>
      </table>
  </fieldset><br>
  <fieldset class="RFS">
    <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
      Location/Deaprtment Details</legend>
    <table class="center">

  <tr>
    <td style="width: 15%" class="LabelFontStyle1">Make&nbsp;&nbsp;: </td>
    <td>
        <input type='text' formControlName="productMake" class="form-control"
            style="background-color:yellow; " [(ngModel)]='productMake'
            value={{productMake}}>
    </td>
    <td style="width: 15%" class="LabelFontStyle1"> Serial&nbsp;No: </td>
    <td> <input type='text' formControlName="productserialNo" class="form-control"
            style="background-color:yellow; " [(ngModel)]='productserialNo'
            value={{productserialNo}}></td>


    <td style="width: 15%" class="LabelFontStyle1">Model&nbsp;Details&nbsp;: </td>
    <td> <input type='text' uppercase formControlName="productmodelDetails" class="form-control"
            style="background-color: yellow;"></td>


</tr>
    </table>
  </fieldset>


  <fieldset class="RFS">
    <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
      Location/Deaprtment Details</legend>
    <table class="center">
  <tr>
      <td style="width: 15%" class="LabelFontStyle1"> City&nbsp;: </td>
      <input type="text" readonly formControlName="loginArray1" id="loginArray1" [(ngModel)]="loginArray1"
          class="form-control" style="width: 200px; border-color: black;">

      <input hidden type='number' uppercase formControlName="city" class="form-control">

      <div *ngIf="isEisableLocationcityInSearch; then actYes; else actNo"></div>
      <ng-template #actYes>

          <select hidden type='number' formControlName="city" id="city" [(ngModel)]="city"
              class="form-control">
              <option *ngFor="let sc of  locIdList" [value]="sc.city">
                  {{sc.ouCity}}
              </option>
          </select>

      </ng-template>
      <ng-template #actNo>

          <select hidden type='number' formControlName="city" id="city" [(ngModel)]="city"
              class="form-control">
              <option *ngFor="let sc of  locIdList" [value]="sc.city">
                  {{sc.ouCity}}
              </option>
          </select>
      </ng-template>
      <td style="width: 15%" class="LabelFontStyle1"> Legal&nbsp;&nbsp;Entity: </td>
      <td>

          <select type='text' formControlName="legalEntity" id="legalEntity" class="form-control"
              style="background-color: yellow;">
              <!-- <option></option> -->
              <option *ngFor="let sc of  AllligelentityList" [ngValue]="sc.compCode">
                  {{sc.compCode}}
              </option>
          </select>
      </td>
      <td style="width: 15%" class="LabelFontStyle1">Location&nbsp;&nbsp;: </td>
      <td>
          <select formControlName="location" id="location" class="form-control"
              style="background-color: yellow;">
              <!-- <option></option> -->
              <option *ngFor="let sc of  AllllocationitemList" [ngValue]="sc.locId">
                  {{sc.locName}}
              </option>
          </select>
      </td>
  </tr>
  <tr>
      <td style="width:15%" class="LabelFontStyle1"> Division&nbsp;&nbsp;: </td>
      <td>
          <select type='number' formControlName="division" id="division" class="form-control"
              style="background-color: yellow;">
              <option *ngFor="let sc of  AlldivisionitemList" [ngValue]="sc.cmntypeId">
                  {{sc.codeDesc}}
              </option>
          </select>



      </td>
      <input hidden type='number' uppercase formControlName="division" class="form-control">
      <td style="width: 15%" class="LabelFontStyle1">Department&nbsp;Name&nbsp;: </td>
      <td>
          <select type='number' formControlName="dept" id="dept" class="form-control"
              style="background-color: yellow;">
              <!-- <option></option> -->
              <option *ngFor="let sc of  AlldepartmentitemList" [ngValue]="sc.cmntypeId">
                  {{sc.codeDesc}}
              </option>
          </select>
      </td>
      <td style="width: 15%" class="LabelFontStyle1">Region&nbsp;&nbsp;: </td>
      <td>
          <select formControlName="region" id="region" class="form-control"
              style="background-color: yellow;">

              <option *ngFor="let sc of  AllregionitemList" [ngValue]="sc.codeDesc">
                  {{sc.codeDesc}}
              </option>
          </select>

      </td>
  </tr>
</table>
</fieldset>
<fieldset class="RFS">
<legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
  User Details </legend>
<table class="center">
  <tr>
      <td style="width: 15%" class="LabelFontStyle"> User&nbsp;Ticket&nbsp;No: </td>
      <td> <input type='text' formControlName="usertktNo" class="form-control"
              style="background-color: rgb(255, 255, 255);"
              (keydown.tab)="TicketNoSearch(usertktNo)" [(ngModel)]='usertktNo'
              value={{usertktNo}}></td>


      <td style="width: 15%" class="LabelFontStyle">User&nbsp;Name&nbsp;: </td>
      <td> <input type='text' uppercase formControlName="userName" class="form-control"
              style="background-color: rgb(255, 255, 255);"></td>
      <td style="width: 15%" class="LabelFontStyle">No&nbsp;Of&nbsp;User: </td>
      <td> <input type='number' uppercase formControlName="noofUsers" class="form-control"
              style="background-color: rgb(255, 255, 255);"></td>
  </tr>
  <tr>
      <td style="width: 15%" class="LabelFontStyle">User&nbsp;Designation&nbsp;: </td>
      <td>
          <select type='text' formControlName="userDesigntn" id="userDesigntn"
              class="form-control">
              <!-- <option></option> -->
              <option *ngFor="let sc of  AlldesignationitemList" [ngValue]="sc.codeDesc">
                  {{sc.codeDesc}}
              </option>
          </select>
      </td>
      <td style="width: 15%" class="LabelFontStyle"> User&nbsp;Contact&nbsp;No: </td>
      <td> <input type='text' formControlName="usercontactNo" class="form-control"></td>
      <td style="width: 15%" class="LabelFontStyle">Email&nbsp;Id&nbsp;: </td>
      <td> <input type='text' uppercase formControlName="emailId" class="form-control"></td>

  </tr>
  <tr>
      <td style="width: 15%" class="LabelFontStyle">Email&nbsp;Password&nbsp;: </td>
      <td> <input type='text' uppercase formControlName="emailPassword" class="form-control"></td>

      <td style="width: 15%" class="LabelFontStyle"> Email&nbsp;a/c&nbsp;Type: </td>
      <td>
          <select type='text' formControlName="emailType" id="emailType" class="form-control">
              <!-- <option></option> -->
              <option *ngFor="let sc of  AllemailtypeitemList" [ngValue]="sc.codesubName">
                  {{sc.codesubName}}
              </option>
          </select>
      </td>
      <td style="width: 15%" class="LabelFontStyle">Email&nbsp;Packages&nbsp;: </td>
      <td>
          <select type='text' formControlName="emailPackage" id="emailPackage"
              class="form-control">
              <option *ngFor="let sc of  AllemailpackageiList" [ngValue]="sc.codesubName">
                  {{sc.codesubName}}
              </option>
          </select>
      </td>
      
      <td> <input hidden formControlName="itemTypeId" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="codesubName" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="codesubType" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="codeDesc" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="productMake" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="productmodelDetails" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="productserialNo" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="cpu" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="ram" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="hdd" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="config4" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="os" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="oslicMode" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="oslicKey" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="officeSW" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="licMode" class="form-control"></td>

      <td> <input type='text' hidden uppercase formControlName="licKey" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="avSW" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="avexpDate" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="avlicKey" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="purchaserefNo" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="purchaseInvNo" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="purchaseCost" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="purchaseDt" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="warrntyDt" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="vendorName" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="addinfo" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="amcSupport" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="dongleAttached" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="internetStatus" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="ipAddress" class="form-control"></td>

      <td> <input type='text' hidden uppercase formControlName="usbBlocked" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="discardReason" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="discardDt" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="dtofInstall" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="faNo" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="insuDetails" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="monitemCode" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="monitorModel" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="monitorserialNo" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="type" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="weDt" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="monitorfaNo" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="remarks" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="createdBy" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="creationDate" class="form-control"></td>

      <td> <input type='text' hidden uppercase formControlName="monitorMake" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="lastUpdatedBy" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="startDate" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="endDate" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="subtypeName" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="cmntypeId" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="prodName" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="status" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="bajjajRyn" class="form-control"></td>

      <td> <input type='text' hidden uppercase formControlName="erpYn" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="dmsYn" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="myear" class="form-control"></td>
      <td> <input type='text' hidden uppercase formControlName="monRemarks" class="form-control"></td>

  </tr>
</table>
</fieldset>

<fieldset class="RFS">
  <table class="center">
      <tr>

          <div *ngIf="displayButton4; then thenBlock4; else elseBlock4"></div>
          <ng-template #thenBlock4>

            
              <td>
                  
                 
                  <button type="submit" class="btn btn-primary" id="register" data-toggle="modal"
                      style="width: fit-content;" data-target="#confirmAlert"
                      (click)="getMessage('resetMast')">Reset</button>
              </td>
              <td>
                 
                  <button type="submit" class="btn btn-primary" id="register" data-toggle="modal"
                      style="width: fit-content;" data-target="#confirmAlert"
                      (click)="getMessage('closeMast')">Close</button>
              </td>

              <td><button type="submit" class="btn btn-info" id="register" style="width: fit-content;"
                      [routerLink]="['/admin/itTransaction/itemMsrchFrm']">Item Master List</button></td>
          </ng-template>
          <ng-template #elseBlock4>

              <td>
                  <button type="submit" class="btn btn-primary" id="register" data-toggle="modal"
                      style="width: fit-content;" data-target="#confirmAlert"
                      (click)="getMessage('updateMast')">SAVE</button>
              </td>

              <td>
                 
                  <button type="submit" class="btn btn-primary" id="register" data-toggle="modal"
                      style="width: fit-content;" data-target="#confirmAlert"
                      (click)="getMessage('resetMast')">Reset</button>
              </td>
              <td>
                  <button type="submit" class="btn btn-info" id="register" data-toggle="modal"
                      data-target="#confirmAlert" (click)="getMessage('closeMast')">Close</button>
               
              </td>
          </ng-template>

      </tr>
  </table>
</fieldset>

<div class="modal fade" id="confirmAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="width: 30%;margin-left: 35%;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label
                    style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                    {{message}}
                </label>
            </div>
            <div class="modal-footer">
                <table class="center">
                    <tr>
                        <td>
                            <button type="button" class="btn btn-info" data-dismiss="modal" id="register"
                                (click)="executeAction()">Yes</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <label
                    style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                   
                    Want&nbsp;to&nbsp;Close.&nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                </label>
            </div>
            <div class="modal-footer">
                <table class="center">
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-info" data-dismiss="modal" id="register"
                                (click)="executeAction()">Yes</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

